<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="16444ArtemShaban.580353B0D12F7" Publisher="CN=1A51811B-286B-4548-A66F-E4361E191A0F" Version="1.1.105.0" />
  <Properties>
    <DisplayName>Конвертер чисел</DisplayName>
    <PublisherDisplayName>Artem Shaban</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NumberConverter.App">
      <m2:VisualElements DisplayName="ms-resource:ApplicationName" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ms-resource:ApplicationDescription" ForegroundText="light" BackgroundColor="#252525">
        <m2:DefaultTile Square70x70Logo="Assets\Square70x70Logo.png" ShortName="ms-resource:ApplicationName" Square310x310Logo="Assets\Square310x310Logo.png" Wide310x150Logo="Assets\Wide310x150Logo.png" DefaultSize="square150x150Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#252525" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>